@import url('https://fonts.googleapis.com/css?family=Molle:400i|Roboto');

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', 'sans-serif';
}

body.dark {
    color: #dddddd;
    background-color: #1e1e1e;
}

#app {
    width: 100%;
    height: 100%;
}

#oops {
    padding: 20px 40px;
}
